@font-face {
  font-family: "Digital-7";
  src: url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.eot");
  src: url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/aa205d91fb5a1df61dec1ff934aaa629.svg#Digital-7")
      format("svg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #005392;
}

.allElementWrapper {
  position: relative;
  min-height: 300px;
  width: 260px;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-style: outset;
  box-shadow: 10px 5px 60px 10px #0ff;
}
.forDisplayingCurrentAllValues {
  width: 100%;
  display: block;
  text-align: end;
  font-family: "Digital-7";
  border-style: outset;

  margin: 0;
  word-wrap: break-word;
  color: white;
  border: 0.2px solid white;
}
.currentValuesDisplay {
  height: 50%;
  min-height: 30px;
  width: 98.5%;
  font-size: 24px;
}
.allValuesDisplay {
  min-height: 30px;
  width: 98.5%;
  font-size: 19px;
}

.grid-container {
  margin-top: 10px;
  display: grid;
  height: 240px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;

  grid-template-areas:
    "AC AC divide multiply"
    "seven eight nine subtract"
    "four five six addition"
    "one two three equal"
    "zero zero dot equal";
}
.button {
  width: 100%;
  height: 100%;
  background-color: #80838d;
  color: white;
  font-weight: bold;
  border: 0.01px solid black;
}
.button:active:focus {
  outline: none;
}
.button:focus {
  outline: none;
}
.button:hover {
  cursor: pointer;
  border: 0.01px solid white;
  color: white;
  transform: scale(1.08);
}
.grid-item-AC {
  grid-area: AC;
  background-color: #a52626;
}
.grid-item-\/ {
  grid-area: divide;
  background-color: #a1a2a5;
}
.grid-item-\* {
  grid-area: multiply;
  background-color: #a1a2a5;
}
.grid-item-7 {
  grid-area: seven;
}
.grid-item-8 {
  grid-area: eight;
}
.grid-item-9 {
  grid-area: nine;
}
.grid-item-- {
  grid-area: subtract;
  background-color: #a1a2a5;
}
.grid-item-4 {
  grid-area: four;
}
.grid-item-5 {
  grid-area: five;
}
.grid-item-6 {
  grid-area: six;
}
.grid-item-\+ {
  grid-area: addition;
  background-color: #a1a2a5;
}
.grid-item-1 {
  grid-area: one;
}
.grid-item-2 {
  grid-area: two;
}
.grid-item-3 {
  grid-area: three;
}
.grid-item-\= {
  grid-area: equal;
  background-color: #006da3;
}
.grid-item-0 {
  grid-area: zero;
}

.grid-item-\. {
  grid-area: dot;
}
.buttonEventClass {
  cursor: pointer;
  border: 0.01px solid white;
  color: white;
  transform: scale(1.08);
}
.designBy {
  color: white;
  font-size: 16px;
  font-family: monospace;
  border-bottom: none;
  padding-top: 45px;
  width: 100%;
  margin: auto;
  align-self: center;
  text-align: center;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
    1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.designBy a {
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  .allElementWrapper {
    margin-top: 20px;
  }
}
